<div class="sticky-top bg-primary" id="footer-hide">
  <div class="container">
    <div class="row" style="padding: 2%; color: white;">
      <div class="col-lg-3 col-xl-3">
        <h4>Phone Number</h4>
        <p>(844) 256-8362 /(844) CloudNa </p>
      </div>
      <div class="col-lg-3 col-xl-3">
        <h4>Email</h4>
        <p>Info@Cloud-Navigators.com</p>
      </div>
      <div class="col-lg-3 col-xl-3">
        <h4>Head Office</h4>
        <p>789 Bamberger Drive, Suite C </p>
        <p>American Fork, UT 84003</p>
      </div>
      <div class="col-lg-3 col-xl-3">
        <h4>Mailing Address</h4>
        <p>P.O. Box 453</p>
        <p>American Fork, UT 84003</p>
      </div>
    </div>
  </div>
</div>