<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=''>Cloud Navigators</a></li>
      <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
  </nav>
  <hr>
  <div class="card">
    <div class="card-header text-left">
      <h1><b>About Us</b></h1>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p>Cloud Navigators delivers intelligent and cost efficient solutions to our clients through the power of the
          cloud. By harnessing the cloud, we strive to assist organizations in transforming their future with a dual
          strategy. First by navigating clients from their current on-premises messaging solution to the cloud and then
          by increasing their efficiency with Microsoft’s Office 365 collaboration suite. This transformation results in
          the client lowering their infrastructure costs as well as getting control of their email risk through
          additional cloud based solutions built around the client’s unique requirements for identity, security and
          compliance.</p>
        <br>
        <p>Cloud Navigators offers a range of services with a powerful set of tools and methodologies with a proven
          track record. Our consulting expertise with decades of combined experience allows us to assess organizational
          needs and then migrate them to and manage them on the Microsoft cloud. Our customers benefit from a remarkable
          ROI. We pride ourselves on high performance implementation delivery projects, steadfast managed services, and
          being a ‘trusted partner’. Cloud Navigators will flexibly adapt with your organization whatever tomorrow looks
          like.</p>
      </div>
    </div>
  </div>
</div>