<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=''>Cloud Navigators</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>
  <hr>
  <div class="card">
    <div class="card-header">
      <h1><b>Contact Us</b></h1>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p>Please get in touch with us via our any of our contact information or the form below:</p>
        <p>Head Office: 789 Bamberger Drive, Suite C, American Fork, UT 84003</p>
        <p>Mailing Address: P.O. Box 453, American Fork, UT 84003</p>
        <p>Number: (844) 256-8362 /(844) CloudNa</p>
        <p>Email: Info@Cloud-Navigators.com</p>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Your Name (required)</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address (required)</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Subject</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
          </div>
          <button type="button" (click)="onSubmit()" *ngIf="!submitted && !submitting" class="btn btn-primary">Submit</button>
          <button type="button" *ngIf="submitted" class="btn btn-disabled">Submitted!</button>
          <button type="button" (click)="onSubmit()" *ngIf="submitting" class="btn btn-primary">
            <div class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>