<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=''>Cloud Navigators</a></li>
      <li class="breadcrumb-item active" aria-current="page">IAM Cloud - Identity and Access Management</li>
    </ol>
  </nav>
  <hr>
  <div class="card">
    <div class="card-header">
      <h1><b>IAM Cloud – Identity and Access Management</b></h1>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          <h2>IAM Cloud provides secure, Azure-hosted, Identity and Access Management</h2>
        </div>
        <div class="card-body">
          <p>Cloud Navigators manages the North American Educational Market for IAM Cloud, a Microsoft Azure-based
            <a href="http://www.iamcloud.com/who-we-are/identity-first" target="_blank">Identity and Access
              Management</a> service hosting nearly three million identities. IAM Cloud eliminates the
            high costs associated with hardware, consultant fees, and complexity for on-premises solutions, such as
            ADFS. With IAM Cloud no additional hardware and ADFS expertise is required since it is a fully managed
            service.</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h2>Business Continuity for SaaS</h2>
        </div>
        <div class="card-body">
          <p>Since IAM Cloud is wholly hosted in Microsoft Azure data centers it <a
              href="http://www.iamcloud.com/our-tech/business-continuity" target="_blank">removes the single points of
              failure</a>. IAM Cloud authentication is securely performed against regional, redundant IAM Cloud servers,
            so if the local directory is unavailable users with Internet access can continue to work.</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h2>Office 365 License Management</h2>
        </div>
        <div class="card-body">
          <p>Office 365 Accounts and Plans are <a
              href="http://www.iamcloud.com/our-tech/iam-cloud-for-office-365" target="_blank">automatically provisioned</a> based on
            your organization’s chosen criteria, eliminating the need for complicated scripts or manual imports.</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h2>True Single Sign-On</h2>
        </div>
        <div class="card-body">
          <p>IAM Cloud provides True<a href="http://www.iamcloud.com/our-tech/single-sign-on" target="_blank"> Single Sign-On</a> for
            Office 365, as well as thousands of SaaS applications, such as Moodle, Blackboard, and Desire2Learn. Our
            highly secure single sign-on leverages your existing network authentication. Users log in to their
            workstation as they do now – there are no workstation clients to rollout, and no 3rd party portal to visit.
          </p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h2>Cloud Drive Mapper</h2>
        </div>
        <div class="card-body">
          <p>IAM Cloud also offers the Cloud Drive Mapper service which allows you to map a drive letter to OneDrive for
            Business & SharePoint Online libraries. Meaning we can integrate cloud storage into the Windows (7, 8, 10)
            client itself. This essentially means organizations need no longer have the burden of providing network
            storage for their users. Cloud Drive Mapper is reliable and persistent, and it’s easily deployed – there’s
            not even an install client. As far as the users are concerned they will use the drive as if it were attached
            to their computers so they won’t need to learn new systems or change workflows. And because OneDrive for
            Business now provides an unlimited amount of storage, your users will never run out of space. By wielding
            Microsoft’s powerful and highly secure cloud, we can provide you with unlimited storage for a fraction of
            the cost of an on-site solution. This makes Cloud Drive Mapper a fantastic quality service and very
            cost-effective.

            Please note Cloud Drive Mapper is available as a part of IAM Cloud’s Enterprise service and as a <a
              href="http://www.iamcloud.com/our-tech/cdm" target="_blank">stand-alone service</a>, the latter plan means you don’t have
            to be federated with IAM Cloud to use it.</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h2>Alumni Identity Hosting</h2>
        </div>
        <div class="card-body">
          <p>Another huge advantage of IAM Cloud is the <a
              href="http://www.iamcloud.com/our-tech/identity-for-alumni" target="_blank">Alumni Service</a>. Rather than maintaining
            alumni accounts in the institution’s Active Directory the Alumni service holds the identity securely in the
            cloud and provides authentication to Office 365. Forgotten passwords are handled by the platform using
            challenge/response techniques, reducing helpdesk calls. IAM Cloud’s Alumni service takes the effort and pain
            away from providing email for life.</p>
          <p><b>Simple to deploy. Adaptable to your needs. Cost Effective.</b></p>
          <p>To learn more please visit <a href="http://www.iamcloud.com" target="_blank">http://www.iamcloud.com</a> or <a
              href="http://cloud-navigators.com/contact-us/" target="_blank">contact us</a> for a consultation.</p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>